<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.YWHY.mapper.OrderRelease.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.YWHY.bean.Order" >
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="order_area" property="orderArea" jdbcType="VARCHAR" />
    <result column="order_user_name" property="orderUserName" jdbcType="VARCHAR" />
    <result column="order_tele" property="orderTele" jdbcType="VARCHAR" />
    <result column="order_text" property="orderText" jdbcType="VARCHAR" />
    <result column="order_support_id" property="orderSupportId" jdbcType="INTEGER" />
    <result column="order_start_date" property="orderStartDate" jdbcType="TIMESTAMP" />
    <result column="order_end_date" property="orderEndDate" jdbcType="TIMESTAMP" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="order_user_id" property="orderUserId" jdbcType="INTEGER" />
    <result column="order_defeat" property="orderDefeat" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_id, order_area, order_user_name, order_tele, order_text, order_support_id, 
    order_start_date, order_end_date, order_status, order_user_id, order_defeat
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from `order`
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from `order`
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.YWHY.bean.Order" >
    insert into `order` (order_id, order_area, order_user_name,
      order_tele, order_text, order_support_id, 
      order_start_date, order_end_date, order_status, 
      order_user_id, order_defeat)
    values (#{orderId,jdbcType=INTEGER}, #{orderArea,jdbcType=VARCHAR}, #{orderUserName,jdbcType=VARCHAR}, 
      #{orderTele,jdbcType=VARCHAR}, #{orderText,jdbcType=VARCHAR}, #{orderSupportId,jdbcType=INTEGER}, 
      #{orderStartDate,jdbcType=TIMESTAMP}, #{orderEndDate,jdbcType=TIMESTAMP}, #{orderStatus,jdbcType=INTEGER}, 
      #{orderUserId,jdbcType=INTEGER}, #{orderDefeat,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.YWHY.bean.Order" >
    insert into `order`
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orderArea != null" >
        order_area,
      </if>
      <if test="orderUserName != null" >
        order_user_name,
      </if>
      <if test="orderTele != null" >
        order_tele,
      </if>
      <if test="orderText != null" >
        order_text,
      </if>
      <if test="orderSupportId != null" >
        order_support_id,
      </if>
      <if test="orderStartDate != null" >
        order_start_date,
      </if>
      <if test="orderEndDate != null" >
        order_end_date,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderUserId != null" >
        order_user_id,
      </if>
      <if test="orderDefeat != null" >
        order_defeat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="orderArea != null" >
        #{orderArea,jdbcType=VARCHAR},
      </if>
      <if test="orderUserName != null" >
        #{orderUserName,jdbcType=VARCHAR},
      </if>
      <if test="orderTele != null" >
        #{orderTele,jdbcType=VARCHAR},
      </if>
      <if test="orderText != null" >
        #{orderText,jdbcType=VARCHAR},
      </if>
      <if test="orderSupportId != null" >
        #{orderSupportId,jdbcType=INTEGER},
      </if>
      <if test="orderStartDate != null" >
        #{orderStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndDate != null" >
        #{orderEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderUserId != null" >
        #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderDefeat != null" >
        #{orderDefeat,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.YWHY.bean.Order" >
    update `order`
    <set >
      <if test="orderArea != null" >
        order_area = #{orderArea,jdbcType=VARCHAR},
      </if>
      <if test="orderUserName != null" >
        order_user_name = #{orderUserName,jdbcType=VARCHAR},
      </if>
      <if test="orderTele != null" >
        order_tele = #{orderTele,jdbcType=VARCHAR},
      </if>
      <if test="orderText != null" >
        order_text = #{orderText,jdbcType=VARCHAR},
      </if>
      <if test="orderSupportId != null" >
        order_support_id = #{orderSupportId,jdbcType=INTEGER},
      </if>
      <if test="orderStartDate != null" >
        order_start_date = #{orderStartDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderEndDate != null" >
        order_end_date = #{orderEndDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderUserId != null" >
        order_user_id = #{orderUserId,jdbcType=INTEGER},
      </if>
      <if test="orderDefeat != null" >
        order_defeat = #{orderDefeat,jdbcType=VARCHAR},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.YWHY.bean.Order" >
    update `order`
    set order_area = #{orderArea,jdbcType=VARCHAR},
      order_user_name = #{orderUserName,jdbcType=VARCHAR},
      order_tele = #{orderTele,jdbcType=VARCHAR},
      order_text = #{orderText,jdbcType=VARCHAR},
      order_support_id = #{orderSupportId,jdbcType=INTEGER},
      order_start_date = #{orderStartDate,jdbcType=TIMESTAMP},
      order_end_date = #{orderEndDate,jdbcType=TIMESTAMP},
      order_status = #{orderStatus,jdbcType=INTEGER},
      order_user_id = #{orderUserId,jdbcType=INTEGER},
      order_defeat = #{orderDefeat,jdbcType=VARCHAR}
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
  <select id="selectOrderCountOfEndByPrimaryKey" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    count(*)
    from `order`
    where order_user_id = #{orderUserId,jdbcType=INTEGER}
    and  order_status=1
  </select>
  <select id="selectOrderCountOfAllByPrimaryKey" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select
    count(*)
    from `order`
    where order_user_id = #{orderUserId,jdbcType=INTEGER}
  </select>
  <select id="selectOrderOfStartByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    *
    from `order`
    where order_user_id = #{orderUserId,jdbcType=INTEGER}
    and order_status = 0
  </select>
  <update id="updateOrderDefByPrimaryKey" parameterType="com.YWHY.bean.more.OrderOfDef" >
    update `order`
    <set >
      <if test="orderDefeat != null" >
        order_defeat = #{orderDefeat,jdbcType=VARCHAR},
      </if>
        order_status = 2
    </set>
    where order_id = #{orderId,jdbcType=INTEGER}
  </update>
</mapper>